@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.pic {
	border-radius: 30px;
}

/*navbar*/
.navbar {
	z-index: 2;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family: 'Ubuntu', 'sans-serif;';
	transition: all 0.3s ease;
	background: #00274c;
}

.navbar.sticky {
	padding: 15px 0;
	background: #00274c;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
}

.top_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.vid1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 2%;
	width: 35%;
	padding: 30px;
	background: #00274c;
	border-radius: 20px;
	text-align: center;
}

.information{
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	width: 60%;
	text-align: justify;
	position: relative;
	right: 2%;
}

.text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.mid_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.algorithm {
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	text-align: justify;
	background: #e3e3e3;
	position: relative;
	left: 2%;
	border-radius: 15px;
	padding: 10px;
	width: 50%;
}

.game_play {
	display: flex;
	justify-content: center;
	align-items: center;
	right: 2%;
	width: 45%;
	background: #00274c;
	border-radius: 20px;
	position: relative;
	right: 2%;
	padding: 30px;
}

.bottom_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.initial_testing {
	display: flex;
	justify-content: center;
	align-items: center;
	left: 2%;
	width: 45%;
	background: #00274c;
	border-radius: 20px;
	position: relative;
	right: 2%;
	padding: 30px;
}

.algorithm2 {
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	text-align: justify;
	background: #e3e3e3;
	position: relative;
	right: 2%;
	border-radius: 15px;
	padding: 10px;
	width: 50%;
}

.additional_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.algorithm3 {
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	text-align: justify;
	background: #e3e3e3;
	position: relative;
	left: 2%;
	border-radius: 15px;
	padding: 10px;
	width: 50%;
}

.image1 {
	position: relative;
	width: 45%;
	right: 2%;
}

.pcb_design {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.kicad {
	position: relative;
	left: 2%;
	width: 50%;
}

.pcb {
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	text-align: justify;
	background: #e3e3e3;
	position: relative;
	right: 2%;
	border-radius: 15px;
	padding: 10px;
	width: 22%;
}

.solder {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 23%;
	padding: 5px;
	background: #00274c;
	border-radius: 20px;
	text-align: center;
}

.pcb_design2 {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.pcb1 {
	position: relative;
	left: 2%;
	width: 35%;
}

.pcb2 {
	position: relative;
	width: 30%;
}

.pcb3 {
	position: relative;
	width: 28%;
	right: 2%;
}

.final {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.final1 {
	position: relative;
	width: 31%;
	left: 2%;
}

.final2 {
	position: relative;
	width: 31%;
}

.final3 {
	position: relative;
	width: 31%;
	right: 2%;
}

@media (max-width: 1000px){
	.final1, .final2, .final3, .pcb1, .pcb2, .pcb3, .kicad, .solder, .algorithm3, .initial_testing, .algorithm, .vid1 {
		margin-bottom: 15px;
	}
	.pcb, .algorithm3, .algorithm2, .algorithm, .information {
		padding: 15px;
	}
	.final1, .final2, .final3, .pcb1, .pcb2, .pcb3, .kicad, .pcb, .solder, .algorithm3, .image1, .initial_testing, .algorithm2, .algorithm, .game_play, .vid1, .information {
		flex: 100%;
		left: 0%;
		right: 0%;
	}
}

@media (max-width: 1000px){
	.top_info {
		top: 80px;
	}
	.navbar .logo a{
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}
	.navbar .menu li a{
		font-size: 12px;
	}
	.text {
		font-size: 18px;
	}
}